@model CodeInject.WebServ.Models.PlayerInfoModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="info">
    <p class="actor-names">Name: <b>@Model.Name</b></p>
    <p>HP: @Model.Hp / @Model.MaxHp</p>
        <div class="progress-bar">
        <div class="progress" style="width: @Model.getPrecHP()%"></div>
        </div>
    </div>
    
    <div class="info">
        <p>MP: @Model.Mp / @Model.MaxMp</p>
    <div class="progress-bar">
        <div class="progress" style="background-color: blue; width: @Model.getPrecMP()%"></div>
        </div>
    </div>

<pre class="tab1"><p>Position:  <br />X: @(Model.X / 100)</br>Y: @(Model.Y / 100)</br>Z: @(Model.Z / 100)</p></pre>

<pre class="tab1">Buffs :@Model.BuffCount</pre>

